* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat";
}

.col-6 {
  padding: 0 15px;
  width: 50%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.mobile-btn {
  display: none;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

.header {
  background-color: #252525;
  padding: 30px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
header a:hover {
  color: yellow;
  display: block;
  transform: scale(1.1);
  transition: 0.5s;
}
header  a:active {
  color: red;
  display: block;
  transform: scale(0.9);
}
.header__logo {
  color: #fafafa;
  text-transform: uppercase;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  max-width: 1140px;
  margin: 0 auto;
}
.header__menu {
  display: flex;
  column-gap: 50px;
}
.header__menu-link {
  list-style: none;
}
.header__menu-link a {
  text-decoration: none;
  font-size: 20px;
  color: #fafafa;
}
.burger-btn {
  display: none;
}
.image {
  margin-top: 100px;
  width: 100%;
}

.gallery {
  padding-top: 100px;
}
.gallery__title {
  margin-bottom: 50px;
}
.gallery__card {
  padding: 20px;
  border-bottom: 1px solid #252525;
  margin-top: 10px;
}
.gallery__card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.contact {
  margin-top: 100px;
}
.contact__title {
  margin-bottom: 50px;
}
.contact__list {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.contact__list-item {
  display: flex;
  align-items: center;
}
.contact__list-item a:hover {
  color: red;
  transform: scale(1.1);
  transition: 0.3s;
}
.contact__list-item a:active {
  color: red;
  transform: scale(0.9);
  transition: 0.3s;
}
.contact__list-item a {
  text-decoration: none;
  color: #252525;
}
.contact__form {
  border: 1px solid #252525;
  border-radius: 20px;
  padding: 20px;
}
.contact__form-input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #252525;
  outline: none;
}
.contact__form-btn {
  color: #252525;
  background-color: transparent;
  border: 1px solid #252525;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}
.contact__form-btn:hover {
  color: #fafafa;
  background-color: #252525;
  border: 1px solid #252525;
}

footer {
  background-color: #252525;
  padding: 50px 0;
  margin-top: 50px;
}
footer p {
  color: #fafafa;
  text-align: center;
}

